# Copy this file to .env and adjust values as needed
# cp .env.example .env

MAX_VOCAB_SIZE=25000
MAX_SEQ_LEN=256

EMBED_DIM=128
HIDDEN_DIM=256
N_LAYERS=2
DROPOUT=0.3
NUM_CLASSES=2

BATCH_SIZE=64
EPOCHS=10
LEARNING_RATE=0.001

MODEL_PATH=model/sentiment_lstm.pth
VOCAB_PATH=model/vocab.pkl
